/* CSS declarations go here */
body{
	margin: 0;
	background-color: #6D7275;
}
.rantfeed-main{
	display:inline-block;
	margin-right: 50px;
}
.rantform-main{
	display:inline-block;
	margin-right: 5%;
}
.salty-logo{
	font-family: 'Roboto Condensed', sans-serif;
	color: #F6F6F4;
	font-size: 1.5em;
}
/***** USER UI CSS *****/

/*** NAV ***/

.logout{
	font-family: 'Abel', sans-serif;
	font-size: 1.5em;
}

/*** NAV BAR ***/
.user-ui-h{
	font-family: 'Roboto Condensed', sans-serif;
	color: #F6F6F4;
	display:inline-block;
}
.signup{
	font-family: 'Abel', sans-serif;
}
#signup-button{
	padding: 8px 15px;
	font-size: 1.25em;
	color: #F6F6F4;
	background-color: #E39219;
	border: none;
	border-radius: 2px;
	font-family: 'Abel', sans-serif;
}
#signup-button:hover{
	background-color: #F6F6F4;
	color: black;
}
#signin-button{
	padding: 8px 15px;
	text-align: center;
	font-size: 1.25em;
	color: #F6F6F4;
	background-color: #E39219;
	border: none;
	border-radius: 2px;
	font-family: 'Abel', sans-serif;
}
#signin-button:hover{
	background-color: #F6F6F4;
	color: black;
}
/***** USER UI CSS *****/

/***** RANT FORM CSS *****/
.rant-form-container{
	margin: 0;
	background-color: rgba(255,255,255,0.25);
/*	background-color: #545972;*/
	border: solid 1px #F6F6F4;
	border-radius: 4px;
}
.rant-box {
   background-color: #F6F6F4;
   border-radius: 4px;
   font-size: 1em;
   font-family: 'Abel', sans-serif;
}
.button-rant-info{
	display: inline-block;
	margin: 0px;
	float:right;
}
.rant-button{
	padding: 4px 14px;
	text-align: center;
	font-size: 1em;
	background-color: #E39219;
	border: none;
	border-radius: 2px;
	font-family: 'Abel', sans-serif;
	cursor: pointer;
}
.charCount{
	margin-right: 10px;
	color: white;
	font-family: 'Abel', sans-serif;
}
.errCharCount {
  margin-right: 10px;
  color: red;
  font-family: 'Abel', sans-serif;
}
/***** RANT FORM CSS ****/

/**** FEED CSS ****/

.salty-feed-h{
	font-family: 'Roboto Condensed', sans-serif;
	color: #F6F6F4;
}
.salty-feed-ul{
	list-style: none;
	padding: 0;
}
.message-container{
	width:100%;
	margin-bottom: 10px;
}

.rant-message{
	margin: 0;
	border-radius: 2px;
	padding: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	background-color: rgba(255,255,255,0.25);
	color: #F6F6F4;
	word-wrap: break-word;
}
.timestamp{
	width: 100%;
	padding: 5px;
	margin: 0;
	border-radius: 2px;
	font-family: 'Abel', sans-serif;
	background-color: rgba(227,146,23,0.7);
	color: #F6F6F4;
}

/**** USER FEED CSS ****/
.user-feed-container{
	width: 350px;
	display: inline-block;
	margin-left: 40px;
}
.timestamp-user{
	width: 100%;
	padding: 5px;
	margin: 0;
	border-radius: 2px;
	font-family: 'Abel', sans-serif;
	background-color: rgba(160,196,226,0.6);
	color: #F6F6F4;
}
