/* CSS declarations go here */
body{
	margin: 0;
	background-color: #2D3141;
}
.salty-logo{
	font-family: 'Philosopher', sans-serif;
	color: #F6F6F4;
}
/***** User UI CSS *****/
.user-ui-h{
	font-family: 'Philosopher', sans-serif;
	color: #F6F6F4;
}
.signup{
	width: 300px;
	border:none;
	padding: 10px 15px;
	margin: 5px 0;
	font-size: 1.20em;
	border-radius: 4px;
	font-family: 'Abel', sans-serif;
}
.signup-button{
	padding: 8px 20px;
	text-align: center;
	font-size: 1em;
	background-color: #E39219;
	border: none;
	border-radius: 1px;
	font-family: 'Abel', sans-serif;
	cursor: pointer;
}
.signup-button:hover{
	background-color: #F6F6F4;
}
.signin-button{
	padding: 8px 20px;
	text-align: center;
	font-size: 1em;
	background-color: #E39219;
	border: none;
	border-radius: 1px;
	font-family: 'Abel', sans-serif;
	cursor: pointer;
}
.signin-button:hover{
	background-color: #F6F6F4;
}
.logout{
	padding: 6px 15px;
	text-align: center;
	font-size: 1em;
	background-color: #E39219;
	border: none;
	border-radius: 1px;
	font-family: 'Abel', sans-serif;
	cursor: pointer;
}
.logout:hover{
	background-color: #F6F6F4;
}
/***** User UI CSS *****/

/***** Rant Form CSS *****/
.rant-form-container{
	margin: 0;
	padding: 30px 50px 10px 50px;
	display: inline-block;
	background-color: #545972;
	border: solid 1px #F6F6F4;
	border-radius: 4px;
}
.rantBox {
  background-color: #F6F6F4;
  width:370px;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
}
.button-rant-info{
	display: inline-block;
	margin: 0px;
	float:right;
}
.rant-button{
	padding: 8px 20px;
	text-align: center;
	font-size: 1em;
	background-color: #E39219;
	border: none;
	border-radius: 1px;
	font-family: 'Philosopher', sans-serif;
	cursor: pointer;
}
.charCount{
	margin-right: 10px;
	color: white;
	font-family: 'Abel', sans-serif;
}
.errCharCount {
  margin-right: 10px;
  color: red;
  font-family: 'Abel', sans-serif;
}
/***** Rant Form CSS *****/